.navbar {
  transform: translateX(-100%);
  height: 100%;
  width: 30%;
  transition: all 0.3s;
}
.navbar--visible {
  z-index: 90;
  transform: translateX(0);
  box-shadow: 5px 0 5px -4px #888;
}

.content-item {
  left: 0 !important;
}
.header {
  left: 0 !important;
}
.menu-move {
  filter: blur(2px);
  pointer-events: none;
  -webkit-filter: blur(2px);
}

.menu-btn {
  cursor: pointer;
  visibility: visible;
  top: 50%;
  transform: translateY(-50%);
}

.header-info {
  padding-left: 100px;
}

.btn-close {
  cursor: pointer;
  height: 25px;
  width: 25px;
  img {
    height: 25px;
    width: 25px;
  }
}

@media (min-width: 1920px) {
  .journal {
    width: 100%;
  }
  .desk {
    &-config {
      grid-template-columns:
        minmax(45px, 45px) minmax(250px, 250px) minmax(100px, 100px)
        minmax(120px, 120px) minmax(300px, 300px) minmax(300px, 300px) minmax(
          300px,
          300px
        )
        minmax(300px, 300px) minmax(80px, 80px);
    }
    &-table {
      grid-template-columns:
        minmax(45px, 45px) minmax(250px, 250px) minmax(100px, 100px)
        minmax(120px, 120px) repeat(12, minmax(100px, 100px)) minmax(80px, 80px);
    }
  }
}

@media (max-width: 1600px) {
  .config {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 30px;
  }
  .config-box {
    min-width: 280px;
  }
  .cards__list-item {
    padding: 5px 16px;
  }

  .content-item {
    left: 305px;
  }
  .section-page {
    padding: 0 20px;
  }

  .cards {
    grid-gap: 15px;
  }
  .cards-box {
    padding: 10px;
  }
  .cards__title {
    font-size: 22px;
    line-height: 24px;
  }
  .cards__img {
    height: 65px;
    width: 65px;
  }
  .cards-btn {
    font-size: 15px;
    line-height: 18px;
    padding: 14px;
  }
  .cards__list {
    font-size: 16px;
    line-height: 20px;
    margin: 10px 10px 60px 10px;
  }

  .navbar {
    width: 380px;
  }

  .header {
    left: 302px;
  }
  .header-info__item,
  .header-profile {
    font-size: 14px;
    line-height: 18px;
  }

  .menu__item,
  .logout-btn {
    font-size: 15px;
    line-height: 20px;
  }
  .logout-btn {
    left: 24px;
  }
  .menu__item svg,
  .logout-btn svg {
    height: 26px;
    width: 26px;
  }
  .menu__link {
    padding: 12px;
  }

  .logo {
    padding: 18px;
  }

  .profile-dropdown {
    top: 70px;
    right: 0;
    padding: 8px;
  }
  .profile-dropdown__item {
    font-size: 12px;
    padding: 12px;
  }
  .profile-dropdown__item svg {
    height: 15px;
    width: 20px;
  }
  .language {
    width: 100px;
    &__item {
      padding: 15px 35px;
    }
    .language-dropdown {
      top: 59px;
    }
    .language-dropdown:nth-child(2) {
      top: 59px;
    }
    .language-dropdown:nth-child(3) {
      top: 105px;
    }
    .language-dropdown:last-child {
      top: 150px;
    }
  }
  .config-img {
    width: 150px;
    height: 150px;
  }
  .config-box {
    padding: 20px 20px 230px 20px;
    width: auto;
    min-width: 0;
  }

  .log-in {
    .logo {
      margin-bottom: 40px;
    }
  }

  .log-in__title {
    font-size: 25px;
    line-height: 26px;
  }

  .log-in__form label {
    font-size: 16px;
    line-height: 19px;
  }

  .log-in__form-item,
  .log-in__form-item::placeholder {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .log-in__form-item,
  .log-in__btn {
    height: 45px;
  }

  .password-icon {
    height: 17px;
    width: 17px;
    top: 44%;
  }

  .build-search {
    padding: 22px 18px;
  }
  .build-top__item input[name="build-search"] {
    padding: 9px 12px 9px 30px;
  }
  .enter {
    margin: 12px 32px;
    padding: 8px 30px;
  }

  .pagination {
    margin: 23px 0 0 0;
    font-size: 13px;
    line-height: 18px;
    &__item {
      height: 32px;
      width: 31px;
    }
  }

  .build-top__item input[name="build-search"],
  .build-export__item,
  .build-export__number input,
  .categories,
  .filter {
    font-size: 12px;
    line-height: 18px;
  }
  .build-search__img {
    height: 15px;
    width: 13px;
    left: 9px;
  }
  .build-export {
    width: 135px;
    &__item {
      padding: 8px 10px;
    }
  }
  .build-export__item {
    &::before {
      left: 12px;
    }
    &::after {
      right: 10px;
    }
    &::before,
    &::after {
      height: 18px;
      width: 18px;
    }
  }
  .build-export__number {
    font-size: 14px;
    span {
      margin-right: 10px;
    }
  }
  .build-export__number input {
    width: 75px;
  }
  .build-export__number input,
  .build-top__item input[name="build-search"],
  .build-export__item,
  .categories,
  .filter {
    height: 35px;
  }

  .categories,
  .filter {
    &-list_active {
      top: 40px;
    }
  }

  .build-table {
    font-size: 13px;
    line-height: 16px;
    &--light {
      padding: 16px 20px;
    }
  }
  .build-export__dropdown {
    font-size: 13px;
    line-height: 16px;
    img {
      height: 16px;
      width: 16px;
    }
  }
  .build-table--light .build-table__item--7 {
    height: 18px;
  }
  .build-top {
    margin-bottom: 18px;
  }
  .build-table__dropdown {
    font-size: 15px;
    width: 128px;
    height: auto;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-item img {
      height: 16px;
    }
  }
  .modal {
    &-wrapper {
      padding: 40px 32px 20px 32px;
    }
    &__title {
      font-size: 15px;
      height: 40px;
      width: 204px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-inner {
      padding: 30px;
    }
    &-input {
      margin: 8px 0 15px 0;
      padding: 10px;
    }
    &-box {
      align-items: center;
    }
    &-input__box {
      width: calc(100% / 3);
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
    label,
    &-input {
      font-size: 13px;
      line-height: 15px;
      white-space: nowrap;
    }
    .input-btn {
      font-size: 13px;
      line-height: 15px;
      padding: 11px 24px;
      margin-top: 20px;
    }
    &-select {
      padding: 10px;
    }
  }

  select {
    padding: 10px !important;
  }

  .journal-date {
    width: 140px;
  }
  .grey-btn {
    width: 130px;
    img {
      width: 14px;
      height: 14px;
    }
    .grey-arrow {
      width: 20px;
      height: 20px;
    }
  }
  .grey-btn,
  .input-btn {
    height: 40px;
    font-size: 14px;
  }
  .view {
    &-box {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .add-link {
    font-size: 12px;
    bottom: 15px;
  }
  .modal-select-plus {
    padding-bottom: 30px;
  }

  .modal-select select.modal-input {
    padding: 11px 40px 11px 11px !important;
  }
  .group-table {
    grid-template-columns: 30px 102px 125px 126px 125px 100px 100px 114px 93px 84px 110px 89px 102px 90px 80px 30px;
    width: fit-content;
    gap: 10px;
  }

  //  DESK

  .journal {
    &-name {
      font-size: 12px;
      height: 35px;
      width: 60%;
    }
    .grey-box {
      padding: 3px 15px;
      font-size: 12px;
      height: 35px;
    }
    &-icon {
      font-size: 14px;
      img {
        height: 18px;
        width: 18px;
      }
    }
  }

  .desk {
    margin: 16px 0;
    &-config {
      font-size: 12px;
      grid-template-columns:
        minmax(45px, auto) minmax(200px, auto) minmax(70px, auto)
        minmax(80px, auto) repeat(4, minmax(300px, auto)) minmax(80px, auto);
      gap: 14px 0;
    }
    &-week-date,
    &-week-lesson {
      padding: 10px;
    }
    &-table {
      border-top: none;
      grid-template-columns:
        minmax(45px, auto) minmax(200px, auto) minmax(70px, auto)
        minmax(80px, auto) repeat(12, minmax(100px, auto)) minmax(80px, auto);
      .desk-config__item {
        padding: 0;
        height: 50px;
      }
    }
  }

  .print-btn {
    .grey-btn {
      width: 130px;
    }
  }

  .transferJournal-table {
    grid-template-columns: 30px 150px 90px 110px 65px 100px 80px 90px 110px 120px 60px 90px 190px 30px;
    text-align: center;
  }

  .transferJournal {
    grid-template-columns: 560px 470px auto;
    &-top {
      grid-template-columns: 30px 150px 90px 110px 65px;
    }
    &-content {
      &_1 {
        grid-template-columns: 100px 80px 90px 110px;
      }
      &_2 {
        grid-template-columns: 120px 60px 90px 190px 30px;
      }
    }
  }

  .buildingJournal {
    font-size: 12px;
    &-box {
      font-size: 10px;
    }
    &-whitehead {
      height: 45px;
    }
  }

  .search-id {
    &__wrapper {
      padding: 20px 30px;
    }

    button {
      padding: 13px 28px;
    }
  }

  .view__item {
    .view-box {
      align-items: center;
    }
  }

  .view-box {
    &_btns {
      gap: 50px;
    }
  }

  .view-info {
    &_normal {
      margin-left: 100px;
    }
    &_normal {
      gap: 25px;
      margin-left: 0;
    }
  }

  .kassa__item {
    font-size: 12px;
  }

  .kassa-wrapper {
    .grey-box {
      font-size: 12px;
      padding: 5px 15px;
    }
  }

  .view-box_none .view-input {
    position: unset;
    margin: 0 25px;
  }

  .kassa-journal {
    &_money {
      grid-template-columns: 45px 250px repeat(8, 120px) 350px;
    }

    &_rank {
      grid-template-columns: 45px 250px repeat(8, 150px);
    }
    &_overall {
      grid-template-columns: 45px 1fr repeat(5, 150px);
    }

    &_rankPlus{
      grid-template-columns: 45px 250px repeat(9, 150px);
    }
    &_overallPlus{
      grid-template-columns: 45px 1fr repeat(7, 150px);
    }

  }
  .kassa__bottom{
    .grey-btn{
      width: auto;
      white-space: nowrap;
    }
  }

  .kassa-save {
    width: fit-content;
    font-size: 14px;
    &__table {
      grid-template-columns: 600px 300px 400px 330px 200px 200px;
      overflow: visible;
    }
    &__item {
      padding: 10px;
    }
    &__stats,
    &__box {
      padding: 0;
    }
  }

  .modal__edit{
    font-size: 12px;
    &-item{
      padding: 12px;
    }
  }
}
@media (max-width: 1400px) {
  .transfer {
    font-size: 10px;
    label,
    h1 {
      font-size: 10px;
    }
  }

  .allGroup-table {
    grid-template-columns: 30px 90px 120px 80px 60px 110px 90px 120px 140px 120px 110px 30px;
    width: fit-content;
  }

  .modal-passport-time {
    display: flex;
    flex-wrap: wrap;
  }

  .next-table {
    grid-template-columns: 30px 100px 140px 140px 80px 120px 100px 110px 140px 120px 110px 110px 30px;
    gap: 15px;
    width: fit-content;
  }

  .kassa-journal {
    &_student {
      grid-template-columns: 50px 300px repeat(10, 140px);
    }
  }

  .view-box_line {
    gap: 50px;
  }

  .view__item_long {
    grid-template-columns: 1fr;
  }

  .view-info_line {
    gap: 25px;
  }

  .build-search_fill {
    width: fit-content;
  }
}

@media (max-width: 1300px) {
  .buildingJournal {
    width: fit-content;
    &-head {
      grid-template-columns: 300px repeat(3, 400px);
    }
    &-redhead {
      grid-template-columns: 50px 250px repeat(3, 400px);
    }
  }

  .deposit-table_plus {
    grid-template-columns: 50px 200px 100px 100px 100px 80px 80px 200px 150px 80px 100px 30px;
    width: fit-content;
  }
}
@media (max-width: 1200px) {
  .archieve-table {
    grid-template-columns: 10px 80px 90px 100px 40px 60px 50px 100px 90px 70px 40px 110px 20px;
  }

  .section-page {
    padding: 0 20px;
  }
  .page-title {
    line-height: 20px;
    font-size: 18px;
    padding: 10px 14px;
  }

  .logo img {
    width: 100px;
    height: 35px;
    object-fit: cover;
  }

  .navbar {
    width: 250px;
    height: 100%;
  }

  .content-item {
    left: 255px;
  }

  .cards__title {
    font-size: 18px;
    line-height: 20px;
  }
  .cards__img {
    height: 50px;
    width: 55px;
  }
  .cards-btn {
    line-height: 15px;
    font-size: 14px;
  }
  .cards__list {
    line-height: 18px;
    font-size: 14px;
  }
  .cards__list-item {
    padding: 5px 5px 5px 15px;
  }

  .menu__item,
  .logout-btn {
    font-size: 12px;
    line-height: 15px;
  }
  .menu__item svg,
  .logout-btn svg {
    height: 21px;
    width: 17px;
  }
  .menu-link--dropdown::after,
  .language__item:first-child::after,
  .profile::after {
    background-image: url(../images/arrow-down.svg);
    background-size: cover;
    height: 15px;
    width: 15px;
    background-size: cover;
  }
  .header-info__item,
  .header-profile {
    font-size: 12px;
    line-height: 15px;
  }

  .config-title {
    font-size: 18px;
    line-height: 16px;
  }
  .config-img {
    width: 160px;
    height: 160px;
  }
  .config-box {
    grid-template-columns: repeat (3, 1fr);
  }
  .header {
    left: 253px;
  }
  .modal-box {
    flex-direction: column;
  }
  .modal-input__box {
    width: 100%;
  }
  .modal__title {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .modal-wrapper {
    padding: 30px 20px 20px 20px;
  }
  .modal-select--room {
    .modal-select__item {
      flex-direction: column;
    }
    .modal-select__box {
      width: 100%;
    }
  }

  .modal-select {
    &__item {
      flex-wrap: wrap;
    }
    &__box {
      width: 100%;
      margin-right: 0;
    }
  }

  .input-buttons_plus {
    display: grid;
    grid-template-columns: 1fr;
  }

  .groupnow-table {
    grid-template-columns: 20px 90px 120px 120px 60px 80px 80px 70px 120px 120px 90px 80px 30px;
    width: fit-content;
  }

  .kassa-journal {
    &_debt {
      grid-template-columns: 50px 300px repeat(9, 120px);
    }
  }

  .kassa-journal {
    &_employee {
      grid-template-columns: 50px 200px repeat(12, 110px);
    }
  }

  .view-modal {
    grid-template-columns: 1fr;
    .view-info {
      height: fit-content;
      margin-top: 0;
    }
  }

  .kassa-save__table {
    grid-template-columns: 400px 300px 300px 270px 150px 150px;
    font-size: 12px;
  }

  .modal__edit_seven {
    grid-template-columns: 300px 100px 100px 100px 200px 100px 100px;
  }

  .modal_seven{
    .modal-inner_view{
      width: fit-content;
    }
  }
}

@media (max-width: 1100px) {
  .transfer {
    font-size: 12px;
    grid-template-columns: 1fr;
    &__item {
      gap: 10px;
    }
    label,
    h1 {
      font-size: 12px;
    }

    &-info_huge {
      padding: 36px 32px;
    }
  }


}

@media (max-width: 1050px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards__list {
    height: 200px;
  }
  .config {
    grid-gap: 15px;
  }
  .config-box {
    width: auto;
    padding: 20px 20px 190px 20px;
  }
  .config-img {
    height: 130px;
    width: 130px;
  }
  .section-page {
    padding: 0 10px;
  }

  .log-in {
    padding: 40px;
  }

  .log-in__content {
    padding-right: 40px;
  }
  .log-in__title {
    font-size: 22px;
    line-height: 14px;
    padding-bottom: 28px;
  }
  .log-in__form label,
  .log-in__form-item,
  .log-in__form-item::placeholder,
  .log-in__btn {
    font-size: 13px;
    line-height: 14px;
  }
  .log-in__form-item,
  .log-in__btn {
    height: 40px;
  }

  .log-in__img {
    padding: 20px;
  }
  .password-icon {
    height: 14px;
    width: 14px;
    top: 42%;
  }

  .modal {
    &__title {
      width: fit-content !important;
    }
  }
  .modal-select__item.modal-three {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
  }

  .view {
    &__item {
      grid-template-columns: 1fr;
      gap: 10px;
      .view-box {
        background-color: #fff;
      }
    }
  }

  .build-table--light .build-table__item--7 {
    background-position: center right 7px;
  }

  .subject-box {
    grid-template-columns: repeat(3, 1fr);
  }

  .subject-line {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .modal__double{
    grid-template-columns: 1fr;
    gap: 36px;
  }
}

@media (max-width: 950px) {
  .config-title {
    font-size: 13px;
    line-height: 16px;
  }
  .config-img {
    width: 150px;
    height: 150px;
  }
  .modal-time {
    form {
      width: 80%;
    }
    .modal__title {
      font-size: 12px;
      width: fit-content;
    }
    &__item {
      flex-direction: column;
    }
    &__box {
      width: 100%;
      margin-right: 0;
    }
  }

  .modal__edit_title{
    grid-template-columns: 2fr 0.4fr 0.1fr 0.4fr
  }
}

@media (max-width: 840px) {
  .navbar {
    width: 200px;
  }

  .page-title {
    line-height: 19px;
    font-size: 15px;
  }

  .content-item {
    left: 200px;
    top: 55px;
  }

  .header {
    left: 202px;
    height: 55px;
  }
  .header-info__item {
    margin-right: 0px;
    padding: 4px 12px;
  }
  .header-info__item,
  .header-profile {
    font-size: 10px;
    line-height: 11px;
  }
  .profile {
    padding-right: 20px;
    &::after {
      right: 3px;
    }
  }
  .profile-dropdown {
    top: 54px;
    min-width: 180px;
    &__item {
      padding: 8px;
      font-size: 10px;
    }
    &__item svg {
      height: 10px;
      width: 14px;
    }
  }
  .profile__img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .language {
    width: 75px;
    margin-right: 20px;
    &__item {
      padding: 10px 20px;
    }
    &__item:first-child::after {
      right: 5px;
    }
    .language-dropdown {
      top: 43px;
    }
    .language-dropdown:nth-child(2) {
      top: 43px;
    }
    .language-dropdown:nth-child(3) {
      top: 75px;
    }
    .language-dropdown:last-child {
      top: 105px;
    }
  }

  .cards__title {
    font-size: 16px;
    line-height: 17px;
  }
  .cards__img {
    height: 40px;
    width: 45px;
  }
  .cards__list {
    line-height: 17px;
    font-size: 12px;
    padding: 16px 0 45px;
  }
  .cards-btn {
    line-height: 13px;
    font-size: 13px;
    padding: 12px;
    bottom: 10px;
  }
  .config {
    grid-template-columns: 1fr 1fr;
  }
  .log-in {
    border: none;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
  }
  .log-in__content {
    padding-right: 0;
    width: 100%;
  }

  .log-in__img {
    display: none;
  }
  .build-table {
    text-align: left;
    font-size: 10px;
  }

  .modal-select--room {
    .modal__title {
      width: fit-content;
    }
  }

  .build-table__item {
    display: grid;
  }

  .input-buttons_plus {
    grid-template-columns: 1fr 1fr;
  }

  .grey-wrap {
    grid-template-columns: 1fr;
    margin-right: 20px;
  }

  .grey-btn {
    width: 100px;
    height: 35px;
    font-size: 9px;
  }

  .modal {
    .input-btn {
      margin-top: 0;
    }
  }

  // JOURNAL

  .journal {
    &-name {
      font-size: 10px;
      height: 30px;
      width: 35%;
    }
    &-config {
      gap: 12px 0;
    }
    .grey-box {
      height: 25px;
      font-size: 8px;
    }
    &-box {
      gap: 9px;
    }
    &-date {
      width: 120px;
      &::after {
        filter: brightness(150%);
        height: 12px;
        width: 12px;
      }
    }
    &-bottom {
      .btn {
        font-size: 10px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &-icons {
      gap: 10px 30px;
    }
    &-icon {
      font-size: 10px;
      img {
        height: 10px;
        width: 10px;
      }
    }
  }

  .desk {
    &-config {
      font-size: 10px;
      grid-template-columns:
        minmax(40px, auto) minmax(160px, auto) minmax(50px, auto)
        minmax(60px, auto) repeat(4, minmax(240px, auto)) minmax(80px, auto);
    }
    &-table {
      grid-template-columns:
        minmax(40px, auto) minmax(160px, auto) minmax(50px, auto)
        minmax(60px, auto) repeat(12, minmax(80px, auto)) minmax(80px, auto);
      .desk-config__item {
        height: 40px;
      }
    }
    &-fname {
      a img {
        height: 15px;
        width: 15px;
      }
    }
    &-week-date,
    &-week-lesson {
      min-width: 80px;
    }
    &-yellow .journal-icon {
      font-size: 9px;
      img {
        height: 11px;
        width: 11px;
      }
    }
  }

  .subject-box {
    grid-template-columns: repeat(2, 1fr);
    &__title {
      font-size: 16px;
    }
    &__info {
      padding-top: 4px;
      font-size: 11px;
    }
  }

  .split-table {
    display: flex;
  }

  .groupnow-table {
    grid-template-columns: 10px 70px 100px 100px 40px 60px 60px 50px 100px 90px 70px 30px 30px;
    width: fit-content;
    gap: 15px;
  }

  .allGroup-table {
    grid-template-columns: 10px 70px 90px 70px 50px 90px 70px 100px 110px 100px 90px 30px;
  }

  .split-slider {
    .split-btn {
      width: 85px;
      font-size: 9px;
    }
  }

  .transferJournal-top {
    font-size: 10px;
  }

  .transferJournal-table {
    grid-template-columns: 10px 110px 70px 110px 65px 100px 80px 90px 110px 120px 60px 90px 130px 30px;
    text-align: center;
  }

  .transferJournal {
    grid-template-columns: 470px 470px auto;
    &-top {
      grid-template-columns: 10px 120px 70px 110px 65px;
      padding: 0 20px;
    }
    &-content {
      &_1 {
        grid-template-columns: 100px 80px 90px 110px;
      }
      &_2 {
        grid-template-columns: 120px 60px 90px 130px 30px;
      }
    }
  }

  .buildingJournal {
    font-size: 10px;
    &-box {
      font-size: 8px;
    }
  }

  .buildingJournal-head,
  .buildingJournal-redhead {
    height: 40px;
  }

  .salary-table {
    grid-template-columns: 10px 120px 100px 100px 120px 100px 100px 30px;
    text-align: center;
    gap: 0 15px;
    width: fit-content;
  }

  .build-table--light .build-table__item--7 {
    background-position: center right 0;
    background-size: contain;
  }

  .build-search_salary {
    width: fit-content;
  }

  .view-box_long {
    grid-template-columns: 1fr;
    gap: 15px;
    text-align: center;
  }

  .input-buttons {
    margin-top: 25px;
  }

  .search-id__img {
    width: 90%;
    margin: 50px auto;
    height: 400px;
  }

  .input-buttons_three {
    grid-template-columns: 1fr;
  }


  .kassa-journal{
    &_rank {
      grid-template-columns: 45px 250px repeat(8, 120px);
    }
    &_overall {
      grid-template-columns: 45px 1fr repeat(5, 120px);
      height: 45px;
    }

    &_rankPlus{
      grid-template-columns: 45px 250px repeat(9, 120px);
    }
    &_overallPlus{
      grid-template-columns: 45px 1fr repeat(7, 120px);
    }
  }

  .kassa__bottom-item{
    align-items: flex-end;
  }
}

@media (max-width: 740px) {
  .header-info {
    position: relative;
    left: 0px;
  }

  .enter {
    padding: 6px 25px;
    font-size: 12px;
  }
  .btn-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
  }

  .logout-btn {
    top: 200px;
  }

  .student-table {
    grid-template-columns: 20px 160px 80px 80px 80px 80px 80px 120px 40px 110px 100px 100px 100px 100px 100px 100px 100px 30px;
    gap: 0 20px;
  }
  .teacher-table {
    grid-template-columns: 10px 120px 60px 80px 80px 80px 110px 90px 80px 60px 80px 100px 120px 70px 30px;
    gap: 0 20px;
  }

  .next-table {
    grid-template-columns: 10px 70px 100px 100px 60px 90px 70px 80px 80px 100px 90px 110px 30px;
    gap: 15px;
  }

  .split-btn {
    width: 50px;
    height: 35px;
  }

  .modal-select__item.modal-three {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 10px;
  }

  .attendance-table {
    grid-template-columns: 15px 60px repeat(7, 50px);
  }

  .modal .input-btn {
    font-size: 10px;
    line-height: 12px;
    padding: 11px 24px;
    margin-top: 10px;
    padding: 9px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .kassa-journal {
    &_debt {
      grid-template-columns: 50px 250px repeat(9, 110px);
    }
    &_student {
      grid-template-columns: 50px 250px repeat(10, 110px);
    }
  }

  .kassa-wrapper {
    padding: 20px 24px;
    .journal-right {
      margin-bottom: 18px;
    }
  }

  .modal-searchId {
    margin-top: 25px;
  }

  .search-id {
    &__wrapper {
      display: grid;
      grid-template-areas:
        "label label"
        "input button";
      row-gap: 30px;
      text-align: center;
    }
    label {
      grid-area: label;
      padding-right: 0;
    }
    input {
      grid-area: input;
      margin-right: 0;
      border-radius: 8px 0 0 8px;
    }
    button {
      grid-area: button;
      border-radius: 0 8px 8px 0;
    }
  }

  .modal__item_double {
    grid-template-columns: 1fr;
  }

  .view-modal__item_empty {
    gap: 15px;
  }

  .modal__item {
    .add-link {
      position: unset;
      text-align: right;
    }
  }

  .view-modal {
    .view-box {
      grid-template-columns: 1fr;
      justify-items: center;
    }
    .view-info {
      text-align: center;
      grid-template-columns: 1fr;
    }

    .view-info_bg {
      grid-template-columns: repeat(2, 1fr);
      button {
        font-size: 12px;
      }
    }
  }

  .kassa-journal {
    &_money {
      grid-template-columns: 40px 200px repeat(8, 100px) 300px;
    }
  }

  .modal__edit_seven {
    grid-template-columns: 250px 70px 70px 70px 200px 70px 70px;
  }
}

@media (max-width: 660px) {
  .cards__title {
    padding: 5px 0;
  }
  .modal-inner {
    padding: 20px 15px;
  }
  .modal-input {
    margin: 8px 0 5px 0;
  }
  .modal label,
  .modal-input {
    font-size: 11px;
    line-height: 12px;
  }
  .modal__title {
    font-size: 10px;
    height: 30px;
    width: 170px;
    top: -20px;
  }

  .input-buttons {
    justify-content: center;
  }

  .build-top__item input[name="build-search"] {
    padding: 6px 12px 6px 28px;
    width: 150px;
  }
  .build-export {
    width: 110px;
  }
  .build-export__item {
    padding: 6px 7px;
  }
  .build-export__number input {
    height: 30px;
    width: 65px;
  }
  .build-export__number {
    font-size: 12px;
  }
  .build-export__item::before,
  .build-export__item::after {
    height: 15px;
    width: 12px;
  }
  .build-top__item input[name="build-search"],
  .build-export__item,
  .build-export__number input {
    font-size: 11px;
    line-height: 16px;
  }
  .build-export__dropdown {
    top: 35px;
    a {
      padding: 10px 12px;
    }
  }
  .build-export__number input,
  .build-top__item input[name="build-search"],
  .build-export__item {
    height: 28px;
  }
  .header-info__item:last-child {
    margin-top: 2px;
  }

  .modal {
    &-select-plus {
      padding-bottom: 25px;
    }
  }

  .add-link {
    bottom: 5px;
  }

  .input-btn {
    height: 30px;
  }

  .view {
    &-box {
      grid-template-columns: 1fr;
      gap: 20px;
      height: fit-content;
      text-align: center;
    }
  }

  .modal-inner_view {
    width: fit-content;
    margin: auto;
  }

  .modal-wrapper.modal-wrapper-view {
    width: 80%;
  }

  .modal .input-export {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    a {
      position: relative;
    }
    .grey-btn {
      width: 110px;
      height: 30px;
    }
  }

  .header-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .group-table {
    grid-template-columns: 15px 80px 100px 110px 80px 80px 80px 80px 70px 60px 70px 70px 70px 70px 80px 30px;
    line-height: 110%;
    font-size: 8px;
    gap: 5px 0;
    text-align: center;
  }

  .studentAttendance-table {
    grid-template-columns: 15px 100px repeat(5, 100px);
  }

  .journal {
    &-list {
      font-size: 10px;
      img {
        height: 15px;
        width: 15px;
      }
    }

    &-check {
      gap: 5px;
      font-size: 8px;
      min-width: 110px;
      img {
        height: 15px;
        width: 15px;
      }
    }

    &-state {
      min-width: 230px;
      padding: 12px;
      &__title {
        font-size: 14px;
      }
    }

    &-btn {
      .btn {
        font-size: 8px;
      }
    }
  }

  .content-item {
    overflow-x: auto;
    .container {
      margin: 0 0 0 14px;
    }
    .build-table,
    .build-search {
      width: fit-content;
    }

    .time-table {
      grid-template-columns: 10px 110px 100px 100px 100px 100px 100px 30px;
      text-align: center;
      gap: 0 15px;
    }

    .building {
      grid-template-columns: 10px 150px 120px 120px 150px 100px 30px;
      text-align: center;
      gap: 0 15px;
    }

    .other-table {
      grid-template-columns: 10px 120px 100px 120px 150px 100px 100px 30px;
      text-align: center;
      gap: 0 15px;
      align-items: center;
    }

    .room-table {
      grid-template-columns: 10px 150px 100px 120px 150px 30px;
      text-align: center;
      gap: 0 15px;
    }

    .groupnow-table {
      grid-template-columns: 10px 60px 90px 90px 50px 60px 60px 50px 100px 90px 70px 60px 30px;
    }

    .next-table {
      grid-template-columns: 10px 60px 80px 70px 40px 70px 70px 50px 60px 80px 70px 90px 30px;
      gap: 15px;
    }

    .build-export__number input,
    .build-top__item input[name="build-search"],
    .build-export__item,
    .filter,
    .categories {
      height: 30px;
    }

    .build-export {
      width: 110px;
      &__dropdown {
        top: 35px;
      }
    }

    .build-top__item input[name="build-search"] {
      width: 170px;
      font-size: 10px;
    }

    .pagination {
      &__item {
        height: 25px;
        width: 25px;
        font-size: 12px;
        padding: 8px 12px;
      }
      img {
        width: 15px;
        height: 10px;
      }
    }

    .enter {
      padding: 6px 18px;
      font-size: 12px;
    }

    .build-table--light {
      padding: 12px 15px;
    }

    .build-search {
      padding: 15px;
    }
    .build-table--light .build-table__item--7 {
      height: 14px;
    }
  }

  .subject-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    &__all {
      position: relative;
      right: 0;
    }
  }

  .lesson-type {
    height: 30px;
    width: 170px;
    &__item {
      font-size: 12px;
    }
  }

  .build-search__btn {
    .split-btn {
      font-size: 10px;
      height: 25px;
    }
  }

  .transfer {
    grid-template-columns: 600px;
    overflow-y: auto;
    padding-bottom: 60px;
    font-size: 10px;
    label,
    h1 {
      font-size: 10px;
    }
    &-label,
    &-title,
    &-input,
    &-btn {
      height: 30px;
    }
    &-box {
      align-items: center;
    }
    &-btn {
      img {
        width: 15px;
      }
    }
    &-submit {
      right: 10px;
      margin-bottom: 10px;
    }
  }

  .split-slider {
    .split-btn {
      width: 85px;
      font-size: 8px;
    }
  }

  .build-table--light .build-table__item--7 {
    background-size: contain;
  }

  .kassa-journal {
    &_employee {
      grid-template-columns: 50px 180px repeat(12, 100px);
    }
  }

  .modal-inner_kassa {
    width: 100%;
  }

  .modal-wrapper_kassa {
    width: 90% !important;
  }

  .modal-searchId .view__item {
    gap: 25px;
  }

  .view-info_line {
    flex-wrap: wrap;
    justify-content: center;
  }

  .view-box_none {
    flex-direction: column;
  }
  .view-info_normal {
    flex-direction: column;
    justify-content: center;
  }

  .modal-searchId {
    .build-export {
      position: relative;
    }
    button,
    a {
      margin-top: 0 !important;
    }
  }

  .input-center {
    padding-top: 15px;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .deposit-table_plus {
    grid-template-columns: 30px 130px 80px 80px 80px 70px 50px 150px 150px 80px 80px 20px;
    width: fit-content;
    gap: 20px;
  }

  .view-box_flex {
    flex-direction: column;
  }

  .kassa-save__table {
    grid-template-columns: 300px 300px 300px 230px 150px 150px;
    font-size: 12px;
  }

  .kassa-save__boxes {
    padding: 0 10px;
  }

  .modal__edit_title {
    grid-template-columns: 2fr 0.4fr 0.4fr 0.4fr;
    .modal__edit-item{
      white-space: unset;
    }
  }

  .modal__edit{
    grid-template-columns: unset;
    grid-template-areas: 'whole whole whole' 'first second third';
    &-item{
      grid-area: whole;
    }
    input:nth-child(1){
      grid-area: first;
    }

    input:nth-child(2){
      grid-area: second;
    }

    input:nth-child(3){
      grid-area: third;
    }
    &_title{
      display: flex;
      justify-content: space-between;
      gap: 0;
      .modal__edit-item{
        font-weight: bold;
        padding: 0 20px;
        &:nth-child(1),
        &:nth-child(3){
          display: none;
        }
      }
    }
  }

  .modal_seven{
    .modal__edit{
        grid-template-columns: 300px 100px 100px 100px 200px 100px 100px;
        grid-template-areas: unset;
    }

    .modal__edit_four{
      grid-template-columns: 1fr 150px 300px 150px;
    }
    
    div, input{
      grid-area: unset!important;
    }

    

    .space{
      .add-link{
        width: 30%;
      }
    }

    .input-buttons {
      margin-top: 0;
      padding-bottom: 20px;
    }

   
  }

  .space__info{
    font-size: 12px;
    margin-left: 10px;
  }

}

@media (max-width: 500px) {
  .header {
    padding: 0 5px;
  }
  .page-title {
    padding: 10px 20px;
  }

  .header-info__item,
  .header-profile {
    font-size: 8px;
    line-height: 11px;
  }
  .profile-dropdown {
    min-width: 120px;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards__list {
    height: 150px;
  }

  .section-page {
    padding: 0 30px;
  }

  .header-info__item {
    padding: 4px 6px;
  }
  .menu-dropdown__item {
    padding: 12px 0 12px 60px;
  }
  .config {
    grid-template-columns: 1fr;
  }

  .log-in__title {
    font-size: 20px;
    line-height: 14px;
    padding-bottom: 26px;
  }
  .log-in {
    padding: 30px;
    .logo {
      margin-bottom: 25px;
    }
    .log-in__form-item,
    .log-in__btn {
      height: 35px;
    }
  }
  .modal-wrapper {
    width: 100% !important;
  }

  .build-export__second {
    margin-bottom: 15px;
  }
  .build-table {
    font-size: 8px;
    line-height: 130%;
  }
  .pagination {
    justify-content: center;
    &__item {
      padding: 8px 12px;
      width: 20px;
      height: 26px;
      font-size: 10px;
    }
  }
  .header-info {
    left: 65px;
    display: flex;
    flex-direction: column;
  }
  .build-table__dropdown {
    font-size: 12px;
    width: 110px;
    top: 30px;
    right: 10px;
    &-item {
      padding: 0 0 5px 0;
    }
  }

  .student-table {
    grid-template-columns: 10px 130px 60px 60px 60px 50px 60px 100px 40px 80px 80px 80px 80px 80px 80px 80px 60px 30px;
    gap: 0 10px;
    line-height: 120%;
  }

  .teacher-table {
    grid-template-columns: 10px 100px 60px 60px 60px 60px 90px 60px 80px 60px 60px 80px 100px 70px 30px;
    gap: 0 10px;
    line-height: 120%;
    width: fit-content;
    text-align: center !important;
  }

  .archieve-table {
    grid-template-columns: 10px 60px 60px 70px 25px 40px 40px 80px 70px 60px 30px 90px 20px;
  }

  .groupnow-table {
    grid-template-columns: 10px 40px 60px 70px 40px 40px 40px 40px 70px 60px 50px 60px 20px !important;
  }

  .studentAttendance-table {
    grid-template-columns: 15px 70px repeat(5, 80px);
  }

  .add-link {
    font-size: 10px;
  }

  .password-icon {
    top: 50%;
  }

  .modal-select__item.modal-three {
    input,
    select {
      height: 35px;
    }
  }

  .input-buttons_plus {
    grid-template-columns: 1fr;
  }

  .modal-space {
    margin-bottom: 40px;
  }

  .grey-btn {
    .blue-select {
      width: fit-content;
    }
    .blue-select-list {
      font-size: 10px;
      padding: 0 10px;
      background-color: #fff !important;
    }
    &:first-child {
      .blue-select {
        width: 160px;
      }
    }
    &:nth-child(2) {
      .blue-select {
        width: 160px;
      }
    }
  }

  .subject-box {
    grid-template-columns: 1fr;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    gap: 10px;
  }

  .transfer {
    grid-template-columns: 550px;
  }
  .allGroup-table {
    grid-template-columns: 10px 60px 80px 50px 30px 70px 60px 70px 90px 80px 70px 20px;
  }

  .split-slider {
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px 0 15px;
  }

  .transferJournal-top {
    font-size: 8px;
    gap: 10px;
  }

  .transferJournal-table {
    grid-template-columns: 10px 110px 70px 80px 65px 80px 80px 70px 100px 100px 70px 70px 110px 30px;
    text-align: left;
    gap: 10px;
  }

  .transferJournal {
    grid-template-columns: 370px 380px auto;
    &-top {
      grid-template-columns: 10px 110px 50px 100px 65px;
      padding: 0 15px;
    }
    &-content {
      padding: 20px 10px;
      &_1 {
        grid-template-columns: 80px 50px 70px 110px;
      }
      &_2 {
        grid-template-columns: 80px 70px 70px 110px 30px;
      }
    }
  }

  .buildingJournal {
    &-head {
      grid-template-columns: 200px repeat(3, 300px);
    }
    &-redhead {
      grid-template-columns: 50px 150px repeat(3, 300px);
    }
  }

  .search-id__wrapper input {
    width: 100%;
  }

  .search-id__title {
    margin-top: 25px;
    font-size: 22px;
    line-height: 120%;
  }

  .search-id__img {
    margin: 30px auto;
    height: 300px;
    object-fit: contain;
  }

  .kassa-journal{
    &_rank {
      grid-template-columns: 40px 200px repeat(8, 100px);
    }
    &_overall {
      grid-template-columns: 40px 1fr repeat(5, 100px);
      height: 45px;
    }

    &_rankPlus{
      grid-template-columns: 40px 200px repeat(9, 100px);
    }
    &_overallPlus{
      grid-template-columns: 40px 1fr repeat(7, 100px);
      height: 40px;
    }
  }

  .kassa__bottom{
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;

    .input-buttons{
      margin-top: 0;
    }

    .build-export__second{
      margin-bottom: 0;
    }
  }

  

}

@media (max-width: 450px) {
  .menu__link {
    padding: 9px;
  }
  .menu__item,
  .logout-btn {
    font-size: 9px;
    line-height: 8px;
  }
  .navbar {
    width: 250px;
  }
  .menu-btn {
    height: 30px;
    width: 35px;
  }
  .cards__list {
    height: 140px;
    &::-webkit-scrollbar {
      width: 2px;
    }
  }
  .enter {
    padding: 6px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-select__box {
    select {
      padding: 10px 30px 10px 12px !important;
    }
  }

  .header-info {
    align-items: center;
    left: 0;
    padding-left: 60px;
    &__item {
      margin-bottom: 0 !important;
      margin-top: 0 !important;
    }
  }

  .view-info_icons {
    .journal-icon {
      img {
        height: 22px;
        width: 22px;
        object-fit: contain;
      }
    }
  }


}
@media (max-width: 400px) {
  .page-title {
    font-size: 11px;
    line-height: 130%;
  }
  .header-info {
    text-align: center;
  }
  .header-info__item:first-child {
    margin-bottom: 3px;
  }
}

@media (max-width: 370px) {
  .section-page {
    padding: 0 10px;
  }
  .section-page {
    padding: 0 20px;
  }
}
