@import 'global';


// navbar 

.content{
  display: flex;
  justify-content: space-between;
}

.navbar{
  height: 100vh;
  width: 352px;
  background-color: #fff;
  border-right: 1px solid transparent;
  color: #778192;
  transition: all 1s;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 18px;
  line-height: 24px;
  z-index: 7;
}

.btn-wrapper{
  position: absolute;
  z-index: 25;
}

.menu-btn{
  height: 35px;
  width: 40px;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5px;
  visibility: hidden;
}
.menu-line{
  width: 80%;
  height: 3px;
  background: #323232;
  margin: 2px 0;
}

.logo{
  padding: 32px;
  display: block;
}

.menu__link{
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: 0 10px;
  padding: 20px 12px;
  border-radius: 8px;
  position: relative;
  z-index: 6;
  transition: all .3s;
  margin-bottom: 3px;
}

.menu__link:hover{
  background: linear-gradient(91.68deg, #45A1FF 0%, #45A1FF 100%), linear-gradient(137.64deg, #E8EFF4 0%, #E6ECF0 97.97%), #C4C4C4;
  color: #fff;
  path{
    fill: #fff;
  }
}

.menu__link--active{
  background: linear-gradient(91.68deg, #45A1FF 0%, #0176EE 100%), linear-gradient(137.64deg, #E8EFF4 0%, #E6ECF0 97.97%), #C4C4C4;
  color: #fff;
  path{
    fill: #fff;
  }
}

.menu-link--dropdown{
  position: relative;
  z-index: 10;
  &::after{
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 24px;
    width: 24px;
    transition: all 0.3s;
  }
  &:hover{
    &::after{
        background-image: url(../images/arrow-down-white.svg);
    }
  }
}

.menu__item svg{
  margin-right: 16px;
}

.menu-dropdown{
  width: 95%;
  margin: 0 auto;
  position: relative;
  transform: translateY(-100%);
  background-color: #fff;
  z-index: -5;
  height: 0;
  opacity: 0;
  transition: all 0.5s;
  visibility: hidden;
  &__item{
    padding: 12px 0 12px 72px;
    position: relative;
  }
  &.menu-group__item,
  &.menu-finance__item{
    position: relative;
    transform: translateY(0);
    z-index: 2;
    opacity: 1;
    height: 100%;
    visibility: visible;
  }
}

.menu-group .menu__link.active,
.menu-finance .menu__link.active{
  &::after{
    transform: translateY(-50%) rotate(180deg);
  }
}




.logout-btn{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 100px;
  left: 32px;
  svg{
    margin-right: 16px;
  }
  &:hover{
    color: #45A1FF;
    path{
      fill: #45A1FF;
    }
  }
}

.content-item{
  position: absolute;
  right: 0px;
  left: 354px;
  top: 80px;
  padding-bottom: 30px;
  transition: all 1s;
}

// header
.header{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 24px;
  color: #3E424A;
  position: fixed;
  top: 0;
  right: 0;
  left: 356px;
  z-index: 15;
  border-bottom: 1px solid #e2e6ec;
  transition: all 1s;
}

.header-profile{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.header-info__item{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  margin-right: 16px;
  padding: 8px 16px;
  text-transform: capitalize;
  transition: all 0.5s;
  background: linear-gradient(274.14deg, #6263D5 0%, #ACACFF 100%);
  color: #fff;
  &:hover{
    opacity: 0.7;
  }
}

.header-info__item--active{
  background: linear-gradient(91.68deg, #45A1FF 0%, #0176EE 100%), linear-gradient(137.64deg, #E8EFF4 0%, #E6ECF0 97.97%), #C4C4C4;
  color: #fff;
  &:hover{
    background: linear-gradient(91.68deg, #45A1FF 0%, #45A1FF 100%), linear-gradient(137.64deg, #E8EFF4 0%, #E6ECF0 97.97%), #C4C4C4;
  }
}

.profile,
.language{
  padding: 0 16px;
}

.language{
  padding-right: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  width: 120px;
  margin-right: 30px;
  text-align: center;
  &__item{
    display: block;
    padding: 20px 40px;
    border: 1px solid #E9E9E9;
    background-color: #fff;
    width: inherit;
  }

  &__item:not(:first-child){
    display: none;
    &:hover{
      color: #3B9AFD;
    }
  }
  &__item:first-child{
    position: relative;
    border: 1px solid transparent;
    &::after{
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../images/language-arrow.png);
      background-repeat: no-repeat;
      background-position: center;
      height: 32px;
      width: 32px;
    }
  }
  &__item:first-child.active{
    border: 1px solid #E9E9E9;
    &::after{
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .language-dropdown{
    display: block;
    position: absolute;
    top: 70px;
    z-index: 5;
    &:nth-child(2){
      top: 70px;
    }
    &:nth-child(3){
      top: 130px;
    }
    &:last-child{
      top: 190px;
    }
  }
}

.profile{
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 32px;
  z-index: 5;
  border-left: 1px solid #E9E9E9;
  &::after{
    content: '';
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/language-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 32px;
    transition: .2s;
  }
}
.profile.active::after{
  transform: translateY(-50%) rotate(180deg);
}

.profile__img{
  margin-right: 16px;
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-dropdown{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-width: 240px;
  position: absolute;
  top: 80px;
  right: 30px;
  color: #414141;
  padding: 16px;
  z-index: -5;
  transition: 0.3s;
  transform: translateY(-30%);
  opacity: 0;
  box-shadow: 0 0 1px grey;
  visibility: hidden;
  .profile::after{
    display: none;
  }
  &__item{
    padding: 16px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }
  &__item:last-child{
    border-top: 1px solid #E9E9E9;
  }
  &__item:hover{
    color: #3B9AFD;
    path{
      fill: #3B9AFD;
    }
  }
  svg{
    height: 22px;
    width: 22px;
    margin-right: 8px;
  }
  &.active{
    transform: translateY(0);
    z-index: 1;
    opacity: 1;
    visibility: visible;
  }
}

// cards

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.cards-box{
  background-color: #fff;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 24px;
  position: relative;
}

.cards__img{
  height: 72px;
  width: 72px;
  object-fit: cover;
}
.cards__title{
  display: flex;
  align-items: center;
  font-size: 28px;
  line-height: 40px;
  color: $dark;
  font-weight: 600;
  padding: 16px 0;
  border-bottom: 1px solid #E4E4E4;
}

.cards__list{
  padding: 16px 0;
  margin: 10px 10px 80px 10px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  transition: all 0.3s;
  overflow-y: auto;
  height: 280px;
  &-item{
    padding: 12px 16px;
    transition: all .3s;
    position: relative;
    &::before{
      content: '•';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #323232;
    }
  }
  &-item:hover{
    background: #F2F3F5
  }
}

.cards-btn{
  border-radius: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: block;
  padding: 16px;
  text-align: center;
  position: absolute;
  bottom: 24px;
  left: 50%;
  right: 0;
  width: 90%;
  transform: translateX(-50%);
  transition: all .2s ease;
  &:hover{
    opacity: 0.7;
  }
}

// config

.config{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}

.config-box{
  background-color: #fff;
  padding: 24px;
  text-align: center;
  position: relative;
  padding-bottom: 314px;
  border: 1px solid #429FFE;
  border-radius: 6px;
  max-width: 358px;
  &:hover{
    .config-title{
      color: #409EFE;
    }
  }
}

.config-title{
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #323232;
  text-align: left;
  transition: 0.2s;
}

.config-img{
  width: 205px;
  height: 205px;
  object-fit: cover;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(199, 191, 191);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(161, 156, 156);
}

// log-in

.wrapper{
  height: 100vh;
  background-color: #F2F3F5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border: 1px solid #429FFE;
  border-radius: 16px;
  padding: 40px 40px 40px 72px;
  width: 75%;
  .logo{
    padding: 0;
    margin-bottom: 80px;
  }
}

.log-in__content{
  padding-right: 72px;
  width: 50%;
}

.log-in__title{
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: $dark;
  padding-bottom: 40px;
}

.log-in__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  label{
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    font-weight: 500;
    &.blur{
      color: #3E424A;
    }
  }
}
.log-in__form-item {
  width: 100%;
  height: 48px;
  padding: 15px 35px 15px 24px;
  margin-top: 8px;
  margin-bottom: 32px;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  outline: none;
  line-height: 19px;
  letter-spacing: -0.165px;
  color: #414141;
  font-size: 16px;
  &.blur{
    border: 1px solid #429FFE;
  }
  &::placeholder{
    color: #D0D4D9;
  }
}

.log-in__img{
  border-radius: 16px;
  padding: 67px 98px 80px 68px;
  background-color: #F2F3F5;
  width: 50%;
}

.log-in__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.log-in__btn {
  height: 56px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90.65deg, #419EFE 0%, #087BF0 100%);
  transition: 1s;
  &:hover{
    background: linear-gradient(91.68deg, #45A1FF 0%, #45A1FF 100%), linear-gradient(137.64deg, #E8EFF4 0%, #E6ECF0 97.97%), #C4C4C4;
  }
}
.password-wrapper{
  position: relative;
}
.password-icon{
  height: 24px;
  width: 24px;
  background-image: url('../images/password.png');
  background-repeat: no-repeat;
  filter: opacity(0.5);
  background-size: 100%;
  background-position: center;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 35%;
  transform: translateY(-50%);
}

.build-title{
  display: flex;
  justify-content: space-between;
}
.enter{
  margin: 16px 32px;
  padding: 12px 40px;
  background: linear-gradient(91.68deg, #45A1FF 0%, #0176EE 100%), linear-gradient(137.64deg, #E8EFF4 0%, #E6ECF0 97.97%), #C4C4C4;
  border-radius: 8px;
  color: #fff;
  transition: all 0.3s;
  &_just{
    margin: 0;
  }
  &:hover{
    opacity: 0.7;
  }
}

// buildings

.container{
  margin: 0 24px;
}

.build-search{
  background-color: #fff;
  border: 1px solid #429FFE;
  border-radius: 15px;
}

.build-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.build-search{
  padding: 32px;
  font-family: "Inter", sans-serif;
}


.build-top__item{
  position: relative;
}

.build-top__item input[name="build-search"]{
  background: #F6F6F6;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 12px 12px 12px 40px;
  font-size: 16px;
  line-height: 24px;
}

.build-top__item input[name="build-search"]:placeholder{
  color: #C4C4C4;
}

.build-search__img{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.build-export{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #414141;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  width: 151px;
  position: relative;
}

.build-export__item{
  background: #F6F6F6;
  padding: 12px 18px;
  text-align: center;
  position: relative;
  z-index: 9;
  cursor: pointer;
  &::before,
  &::after{
    content: '';
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before{
    background-image: url('../images/export-icon-1.svg');
    left: 18px;
  }
  &::after{
    background-image: url('../images/export-icon-2.svg');
    right: 18px;
  }
}

.build-export__dropdown{
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: absolute;
  top: 54px;
  transform: translateY(-30%);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  width: inherit;
  z-index: 7;
  &.build-export__dropdown_show{
   transform: translateY(0);
   opacity: 1;
   visibility: visible;
  }
}

.build-export__dropdown a{
  padding: 12px 16px;
  display: block;
  display: flex;
  align-items: center;
  transition: all .3s;
  width: inherit;
  &:hover{
    color: #3B9AFD;
  }
}

.build-export__dropdown img{
  margin-right: 8px;
}

.build-export__second{
  display: flex;
  align-items: center;
}

.build-export__number{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-left: 15px;
  span{
    margin-right: 16px;
  }

}

.build-export__number input{
  height: 48px;
  width: 101px;
  background: #F6F6F6;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 12px 16px;
}

.build-table{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #41424D;
}

.build-table--bold {
  color: #080B22;
  width: fit-content;
  .build-table__item--7 {
    justify-content: unset;
  }
}

.build-table{
  position: relative;
  display: grid;
  width: 100%;
  align-items: center;  
  gap: 0 30px;
}

.building{
  grid-template-columns: 0.05fr 0.6fr 0.8fr 0.3fr 0.5fr 0.4fr 0.1fr;
  text-align: center;
}

.room-table{
  grid-template-columns: 0.05fr 1fr 0.6fr 0.7fr 0.5fr 0.1fr;
  gap: 0 60px;
}

.time-table{
  grid-template-columns: 0.05fr 0.3fr 0.2fr 0.2fr 0.3fr 0.2fr 0.2fr 0.1fr;
}

.salary-table{
  grid-template-columns: 0.05fr 0.7fr 0.5fr 0.5fr 0.5fr 0.5fr 0.7fr 0.1fr;
}

.other-table{
  grid-template-columns: 0.05fr 0.7fr 0.5fr 0.7fr 0.7fr 0.7fr 0.6fr 0.2fr;
  gap: 0 30px;
}

.teacher-table{
  grid-template-columns: 30px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 30px;
  gap: 0 30px;
  width: fit-content;
  text-align: center!important;
  &.build-table--light{
    transition: all 0.3s;
    cursor: pointer;
    &:hover{
      background-color: rgba(#429FFE ,0.1);
    }
  }
}

.print-btn{
  position: relative;
  justify-content: flex-start!important;
  gap: 24px;
  .grey-btn{
    margin-top: 0;
  }
  a{
    position: absolute;
    right: 0;
  }
}

.archieve-table{
  grid-template-columns: 0.05fr 1fr 1.5fr repeat(8, 1fr) 1.9fr 0.2fr;
  width: fit-content;
  gap: 0 30px;
  text-align: center!important;
  
}


.groupnow-table{
  grid-template-columns: 0.05fr 0.5fr 0.7fr repeat(8, 0.5fr) 0.7fr 0.2fr;
  gap: 0 28px;
  text-align: center!important;
  width: 100%;
}

.attendance-table{
  grid-template-columns: 0.3fr 1fr repeat(7, 1fr);
}

.studentAttendance-table{
  grid-template-columns: 0.3fr 1fr repeat(5, 1fr);
}


.build-search__btn{
  display: flex;
  gap: 16px;
  padding: 10px 0 30px;
  .split-btn{
    font-size: 14px;
    width: fit-content;
    height: 30px;
    padding: 10px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.color-red{
  color: $red;
}
.color-blue{
  color: $blue;
}

.lesson-type{
  background-color: #fff;
  width: 220px;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 12px;
  margin-right: 24px;
  border-radius: 8px;
  &__item{
    border: none;
    height: 100%;
    background-color: #fff;
    color: #778192;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item_active{
    background-color: $blue;
    color: #fff;
  }
}

.subject-box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px 24px;
  margin-bottom: 24px;
  margin-top: 22px;
  &__item{
    background: #FEFEFE;
    border-radius: 8px;
    padding: 16px;
    color: $dark;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover{
      background-color: $blue;
      color: #fff;
      opacity: 0.8;
    }
  }
  &__item_active{
    background-color: $blue;
    color: #fff;
  }
  &__title{
    font-size: 20px;
    font-weight: 600;
  }
  &__info{
    display: flex;
    font-weight: 500;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
    font-size: 14px;
  }
}

.subject-info{
  background: #FEFEFE;
  border-radius: 8px;
  margin-bottom: 16px;
  color: $dark;
  font-size: 14px;
}

.subject-line{
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.3fr repeat(4, 1fr);
  padding: 18px;
  border-bottom: 1px solid #E9E9E9;
  gap: 10px;
  align-items: center;
}

.subject-stats{
  position: relative;
  padding: 18px;
  display: flex;
  align-items: center;
  gap: 40px;
  &__all{
    font-weight: 600;
    position: absolute;
    right: 18px;
  }
}

.student-table{
  grid-template-columns: 30px 200px 120px 100px 100px 100px 100px 150px 50px 130px 120px 120px 120px 150px 120px 120px 150px 30px;
  gap: 0 30px;
  width: fit-content;
  text-align: center!important;
  &.build-table--light{
    transition: all 0.3s;
    cursor: pointer;
    &:hover{
      background-color: rgba(#429FFE ,0.1);
    }
  }
}

.group-table{
  grid-template-columns: 30px 105px 130px 126px 125px 100px 100px 150px 100px 130px 120px 120px 120px 120px 120px 30px;
  width: fit-content;
}

.modal-select select.modal-input{
  padding: 14px 40px 14px 16px!important;
}

.modal-passport-time{
  grid-template-columns: 0.4fr 0.7fr!important;
}

.build-table__item--7{
  display: flex;
  justify-content: flex-end;
}

.build-search{
  width: 100%;
  .build-top__item{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 40px;
  }
  .build-export__second{
    grid-template-columns: auto auto auto;
  }
  &_fit{
    width: fit-content;
  }
}

.container{
  overflow-x: auto;
  padding-bottom: 30px;
}


.build-table--light {
  background: #FEFEFE;
  border-radius: 15px;
  padding: 10px 32px;
  margin-top: 12px;
  .build-table__item--7 {
    height: 28px;
    background-image: url('../images/table-config-1.svg');
    background-repeat: no-repeat;
    background-position: center right 15px;
    background-size: 15px;
    cursor: pointer;
    &:hover{
      background-image: url('../images/table-config-2.svg');
    }
    .build-table__dropdown--active{
      display: block;
    }
  }
  a{
    color: #3B9AFD;
    &:hover{
      text-decoration: underline;
    }
  }
  
}

.build-table__dropdown{
  background-color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.165px;
  line-height: 22px;
  height: 96px;
  width: 147px;
  position: absolute;
  top: 40px;
  right: 35px;
  z-index: 9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 8px;
  display: none;
  &-item{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
      margin-right: 8px;
    }
    &:first-child{
      color: #3B9AFD;
    }
    &:last-child{
      color: #F04747;
    }
  }
}


.pagination{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 32px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  &__item{
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    height: 40px;
    width: 40px;
  }
  &__item--active{
    background-color: #3B9AFD;
    color: #fff;
  }
}

.pagination__item + .pagination__item{
  margin-left: 8px;
}

// modal

.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(79, 86, 96, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: -5;
  transition: all 0.5s;
  &.active{
    visibility: visible;
    opacity: 1;
    z-index: 99;
  }
  &__title{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 22px;
    background: #429FFE;
    border-radius: 8px;
    padding: 13px 16px;
    height: 48px;
    width: 242px;
    position: absolute;
    top: -25px;
    &_red{
      background: linear-gradient(274.14deg, #F12323 0%, #FB6666 100%);
    }
  }

  
  label{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
  }

  .captcha{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 0 16px;
    align-items: center;
    padding: 10px 0;
    input{
      margin: 0;
    }
  }
  
  &__edit{
    display: grid;
    grid-template-columns: 2fr 0.4fr 0.4fr 0.4fr;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;

    .modal-input{
      margin: 0;
    }

   
    &:last-of-type{
      margin-bottom: 0;
    }
    &-item{
      background-color: #fff;
      padding: 16px;
      border-radius: 8px;
    }

    &_title{
      .modal__edit-item{
        background-color: transparent;
        padding: 0;
        text-align: center;
        white-space: nowrap;
      }
    }

    &_del{
      position: relative;
      .x-button{
        position: absolute;
        top: -5px;
        right: -5px;
        display: none;
      }
      &:hover{
        .x-button{
          display: block;
        }
      }
    }

    &_two{
      grid-template-columns: 1fr 0.3fr;
    }

    &_seven{
      grid-template-columns: 2fr 0.4fr 0.2fr 0.4fr 1.1fr 0.4fr 0.2fr;
      align-items: center;

      .add-link{
        position: relative;
        top: 0;
        left: 0;
      }
    }

    
    &_four{
      grid-template-columns: 3.5fr 1fr 3fr 1fr;
    }

    &_box{
      background-color: transparent;
      display: grid;
      gap: 16px;
    }

    &-box{
      background-color: #fff;
      padding: 16px;
      border-radius: 8px;
    }

    &_top{
      .modal__edit-item{
        background-color: transparent;
        text-align: center;
        padding: 0;
      }
    }
  }

}

.x-button{
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  padding: 5px;
}

.modal-box{
  display: flex;
  justify-content: space-between;
}

.modal-input{
  background: #FFFFFF;
  border-radius: 8px;
  width: 100%;
  padding: 15px 16px;
  border: 1px solid #CCCCCC;
  outline: none;
  &.active{
    border: 1px solid #429FFE;
  }
}

.input-buttons{
  display: flex;
  justify-content: flex-end;
  position: relative;
  gap: 25px;
  &_plus{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.grey-wrap{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 16px;
  }

.grey-btn{
  background: #F6F6F6;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ccc;
  max-width: 190px;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover{
    opacity: 0.9;
  }
  &_active{
   border: 1px solid #429FFE;
  }
  img{
    margin: 0 4px;
  }

  &_arrowLeft{
    padding-left: 30px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 5px;
      height: 16px;
      width: 16px;
      background-image: url('../images/pagination-arrow-left.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &_arrowRight{
    padding-right: 30px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      height: 16px;
      width: 16px;
      background-image: url('../images/pagination-arrow-right.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
  
}

.grey-arrow{
  transition: all 0.2s linear;
  &.active{
    transform: rotate(180deg);
  }
}

.grey-btn,.input-btn{
  font-size: 18px;
  line-height: 22px;
  margin-top: 20px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: start;
}

.input-btn{
  padding: 16px 40px;
  color: #060607;
  font-weight: 500;
  align-self: flex-end;
  border-radius: 10px;
  border: none;
  background-color: #f2f3f5;
  &--submit{
    background: #3B9AFD;
    color: #fff;
    box-shadow: 0px 4px 10px rgba(59, 154, 253, 0.2);
    margin-left: 24px;
  }
  &:hover{
    opacity: 0.7;
  }
}

.modal-wrapper{
  border-radius: 8px;
  background: #FEFEFE;
  width: 50%;
  padding: 40px 32px;
  overflow-y: auto;
  &.modal-wrapper_huge{
    width: 70%;
  }
}

.modal-inner{
  background: #F2F3F5;
  border: 1px solid #429FFE;
  border-radius: 8px;
  padding: 40px;
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator{
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: right 0px center;
  background-image: url('../images/calendar.svg');
}
.btn-edit a{
  display: flex;
  align-items: center;
}

.btn-close{
  width: 30px;
  height: 30px;
  position: absolute;
  right: -70px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  span{
    height: 3px;
    width: 80%;
    background-color: #000;
    display: block;
    margin-bottom: 2px;
    &:first-child{
      transform: rotate(45deg) translateY(4px);
      -webkit-transform: rotate(45deg) translateY(4px);
      -moz-transform: rotate(45deg) translateY(4px);
      -ms-transform: rotate(45deg) translateY(4px);
      -o-transform: rotate(45deg) translateY(4px);
}
    &:last-child{
      transform: rotate(-45deg) translateY(-3px);
      -webkit-transform: rotate(-45deg) translateY(-3px);
      -moz-transform: rotate(-45deg) translateY(-3px);
      -ms-transform: rotate(-45deg) translateY(-3px);
      -o-transform: rotate(-45deg) translateY(-3px);
}
  }
}

.radio{
  display: grid;
  grid-template-columns: 0.1fr 0.3fr 0.1fr 0.3fr;
  align-items: center;
  height: 50px;
  label{
    color: #41424D;
    font-size: inherit;
  }
}


.modal-select{
  .modal__title{
    width: fit-content;
  }
  &__item{
    display: flex;
    justify-content: space-between;
  }
  &__item.modal-three{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 60px;
    .modal-select__box{
      width: 100%;
    }
  }
  &__box{
    width: 50%;
    margin-right: 50px;
  
    &:last-child{
      margin-right: 0;
    }
  }
  &-plus{
    position: relative;
    padding-bottom: 20px;
  }
  select{
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    position: relative;
    background-image: url('../images/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: top 50% left 98%;
    background-size: 24px;
    &.active{
      background-image: url('../images/arrow-up.svg');
    }
    &.modal-input{
      padding: 14px 30px 14px 16px;
    }
  }
  &--room{
    padding: 80px 32px 40px 32px;
  }
}

.modal-passport{
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  gap: 0 20px;
  align-items: center;
}
.categories,
.filter{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #F6F6F6;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  position: relative;
  &-list{
    position: absolute;
    background-color: #fff;
    border: 1px solid #429FFE;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s linear;
    display: grid;
    grid-template-columns: 1fr;
    top: 0;
    opacity: 0;
    z-index: 0;
    visibility: hidden;
    &_active{
      top: 55px;
      z-index: 9;
      opacity: 1;
      visibility: visible;
    }
  }
  &_active{
    border: 1px solid #429FFE;
  }
}

.filter{
  width: 110px;
  padding: 16px 16px 16px 22px;
  color: #41424D;
  &-arrow{
    transition: all 0.2s linear;
    &_active{
      transform: rotate(180deg);
    }
  }
  &-text{
    display: grid;
    gap: 0 10px;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    img[alt="filter-img"]{
      height: 15px;
    }
  }
  &-list{
    left: 0;
    padding: 16px;
    width: 200px;
    gap: 16px 0;
    &__item{
      &:hover{
        color: #429FFE;
      }
    }
  }
}

.categories{
  width: 130px;
  padding: 12px;
  &-list{
    width: 250px;
    right: 0;
    padding: 20px;
    color: #080B22;
    &__item{
      display: grid;
      grid-template-columns: 20px auto;
      align-items: center;
      padding: 8px 0;
    }
    label{
      cursor: pointer;
      margin-left: 10px;
      padding: 8px 0;
    }
  }
  input[type="checkbox"]{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    position: relative;
    cursor: pointer;  
    transition: all 0.2s;
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 22px;
      width: 22px;
      background-image: url('../images/check.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      opacity: 0;
    }

    &:checked{
      &::before{
        opacity: 1;
      }
    }

  }
}

.grey-btn{
  position: relative;
}

.blue-select{
  bottom: 310px;
  right: 70px;
  position: absolute;
  background: #F6F6F6;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  bottom: 50px;
  visibility: hidden;
  opacity: 0;
  &-list{
    padding: 20px 50px;
  }
  &_active{
    visibility: visible;
    opacity: 1;
    border: 1px solid #429FFE;
  }
  li{
    padding: 12px 0;
    &:hover{
      color: #429FFE;
    }
  }
}

.grey-btn{
  &:first-child{
    .blue-select{
      width: 280px;
      left: 0;
    }
  }
  &:nth-child(2){
    .blue-select{
      left: 0;
      width: 280px;
    }
  }
  &:last-child{
    .blue-select{
      left: 0;
      width: 200px;
    }
  }
}

.view{
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  &__item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 72px;
    &:nth-child(odd){
      .view-box{
        background-color: #fff;
      }
    }
  }
  &-box{
    height: 50px;
    border-radius: 8px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 16px;
    font-size: 18px;
    line-height: 18px;
    color: #41424D;
  }
  &-info{
    font-weight: 600;
  }
}

.add-link{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.165px;
  color: #429FFE;
  font-weight: 500;
  position: absolute;
  left: 0;
  bottom:20px;
}

.modal{
  .input-export{
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    .input-btn{
      margin-top: 0;
    }
  }

  &__double{
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    gap: 16px;
    .modal-inner_view{
      width: 100%;
    }
  }

  &_double{
    width: 98%;
  }
}

/* == JOURNAL == */ 

.journal{
  background-color: #fff;
  border-radius: 15px;
  padding: 32px 24px;
  color: #323232;
  width: fit-content;
  &-config{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 0;
  }
  &-right{
    justify-self: end;
  }
  &-box{
    display: flex;
    gap: 16px;
  }
  &-name{
    background-color: $blue;
    color: #fff;
    border-radius: 8px;
    padding: 8px;
    width: 69%;
    @extend %center;
  }
  &-date{
    width: 180px;
    position: relative;
    cursor: pointer;
    border: 1px solid #E2E3E3;
    
    &::after{
      content: '';
      background-image: url('../images/export-icon-2.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
      height: 24px;
      width: 24px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      transition: all 0.3s;
    }
    &_active{
      border: 1px solid #429FFE;
      &::after{
        transform: translateY(-50%) rotate(180deg);
      }
    }
    input{
      cursor: pointer;
      background-color: #F6F6F6;
      border: none;
      width: 100%;
      height: 100%;
      position: relative;
      &::-webkit-inner-spin-button,
      &::-webkit-calendar-picker-indicator {
        -webkit-appearance: none;
        height: inherit;
        width: 100%;
        background-image: none;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        padding: 8px 25px;
        margin: auto;
      }
      outline: none;
    }
  }
  
}

/* == DESK == */ 

.desk{
  margin: 32px 0;
  &-config{
    display: grid;
    grid-template-columns: minmax(45px, auto) minmax(250px, auto) minmax(100px, auto) minmax(120px, auto) minmax(300px, auto) minmax(300px, auto) minmax(300px, auto) minmax(300px, auto) minmax(80px, auto);
    height: auto;
    width: 100%;
  }
  &-week_table{
    grid-template-areas: unset;
  }
  &-config__item{
    border: 1px solid #E2E3E3;
    @extend %center;
    text-align: center;
    padding: 8px;
  }

  &-week,
  &-lesson{
    border-right: none;
    border-left: none;
  }

  &-week{
    padding: 0;
    border-top: 1px solid #E2E3E3;
    border-right: 1px solid #E2E3E3;
    display: grid;
    grid-template-areas: 'week week week'
                         'date-1 date-2 date-3'
                         'less-1 less-2 less-3';
    grid-template-rows: 1fr 0.7fr auto;
    grid-template-columns: 1fr;
    &:last-child{
      border-right: none;
    }

  }
  &-yellow{
    background: rgba(255, 244, 145, 0.25);
    font-weight: 600;
    justify-content: flex-start;
    img{
      height: 15px!important;
      width: 15px!important;
      object-fit: cover;
    }
  }
  &-red{
    color: #D80027;
  }
  &-green{
    color: #0BA55F;
  }
  &-table{
    grid-template-columns: minmax(45px, auto) minmax(250px, auto) minmax(100px, auto) minmax(120px, auto) repeat(12, minmax(100px, auto)) minmax(80px, auto);
    cursor: pointer;
    .desk-config__item{
      padding: 20px 8px;
    }
    &:not(:last-child):hover{
      .desk-yellow{
        background: rgba(230,239,253,0.5);
       
      }
    }
  }
  &-fname{
    padding: 8px 20px 8px 0px!important;
    position: relative;
    transition: all 0.3s;
    &:hover{
      background: rgba(#E2E3E3, 0.5);
    }
    a{
      position: absolute;
      right: 5px;
      top: 55%;
      transform: translateY(-50%);
      display: none;
      img{
        height: 20px;
        width: 20px;
      }
    }
    &:hover{
      a{
        display: block;
      }
    }
  }
  &-week-date,
  &-week-lesson{
    border: 1px solid #E2E3E3;
    border-bottom: none;
    height: 100%;
    padding: 18px;
    min-width: 100px;
    max-width: auto;
    @extend %center;
    &:first-child,
    &:last-child{
      border-right: none;
      border-left: none;
    }
  }
  &-week-text_one{
    grid-area: week;
  }
  &-week-date_1 {
    grid-area: date-1;
  }
  &-week-date_2 {
    grid-area: date-2;
  }
  &-week-date_3 {
    grid-area: date-3;
  }
  &-week-lesson_1 {
    grid-area: less-1;
  }
  &-week-lesson_2 {
    grid-area: less-2;
  }
  &-week-lesson_3 {
    grid-area: less-3;
  }
  &-yellow{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &:hover{
      .desk-plus{
        display: flex;
      }
    }
    .journal-icon{
      font-size: 12px;
      font-weight: normal;
      gap: 2px;
      width: 80%;
      margin-left: 10px;
      img{
        height: 15px;
        width: 15px;
      }
    }
    &_blue{
      background: rgba(230, 239, 253, 0.5);
    }
    &_third{
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: unset;
      gap: 0;
      .journal-icon{
        width: 35%;
        img{
          height: 20px;
          width: 20px;
          object-fit: contain
        }
        img[src="images/journal-icon-1.png"]{
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  &-plus{
    display: none;
    font-size: 18px;
    height: 100%;
    width: 100%;
    position: absolute;
    @extend %center;
  }
}



.journal{
  &-bottom{
    display: flex;
    justify-content: space-between;
  }
  &-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    gap: 20px 50px;
    &_feedback{
     grid-template-columns: repeat(6, 1fr );
    } 
  }
  &-icon{
    display: flex;
    align-items: center;
    gap: 6px;
    img{
      height: 20px;
      width: 20px;
    }
  }
  &-state{
    padding: 24px 12px;
    background: #FFFFFF;
    border: 1px solid #429FFE;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    min-width: 280px;
    text-align: left;
    display: none;
    &_active{
      display: grid;
    }
  }
  &-state__title{
    padding: 0 14px 19px 0;
    font-size: 18px;
  }
  &-list{
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 1px solid #E2E3E3;
    padding-bottom: 11px; 
    gap: 2px;
    &_last{
      border-bottom: none;
      padding-top: 16px;
    }
  }
  &-list__item{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 5px 12px;
    font-weight: normal;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    img{
      height: 18px;
      width: 18px;
    }
    &::after{
      content: '+';
      font-size: 18px;
      position: absolute;
      right: 7px;
      top: 50%;
      transform: translateY(-60%);
    }
    &:hover{
      background: #F6F6F6;
    }
    &_active{
      background: #F6F6F6;
      &::after{
        content: '-';
      }
    }
  }
  &-check{
   grid-template-columns: 1fr;
   justify-items: start;
   align-items: center;
   gap: 10px;
   background: #FFFFFF;
   border: 1px solid #429FFE;
   border-radius: 4px;
   padding: 12px;
   min-width: 150px;
   position: absolute;
   z-index: 99;
   display: none;
   top: 0;
   right: 100%;
   &_active{
     display: grid;
   }
   a{
     display: flex;
     align-items: center;
     gap: 4px;
   }
   &__plus{
     padding: 7px 10px 0;
     margin: 0 auto;
     text-align: center;
     border-top: 1px solid #E2E3E3;
   }
  }
  &-btn{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
    .btn{
      padding: 8px 16px;
      border-radius: 8px;
      font-size: 14px;
    }
    &_grey{
      background: #F2F3F5;
    }
    &_blue{
      color: #fff;
      background: linear-gradient(91.68deg, #45A1FF 0%, #0176EE 100%), linear-gradient(137.64deg, #E8EFF4 0%, #E6ECF0 97.97%), #C4C4C4;
    }
  }
}

// MODAL DELETE

.modal-delete{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FCFCFC;
  border: 1px solid #429FFE;
  border-radius: 4px;
  padding: 16px;
  display: none;
  &__title{
    padding-bottom: 24px;
  }
  &-btn{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    a, button, input{
      height: 35px;
      min-width: 70px;
      @extend %center;
    }
  }
  &_form{
    background-color: #F2F2F2;
    .grey-box{
      background-color: #fff;
    }
    .modal-delete-btn{
      padding-top: 10px;
    }
  }
  &__input{
    background-color: #fff;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 100%;
    resize: none;
    padding: 8px;
    outline: $blue;
    min-height: 110px;
    &::placeholder{
      color: #C4C4C4;
      font-size: 14px;
    }
  }
 
}


.view-info_icons{
  display: flex;
  gap: 5px;
  font-weight: normal;
}

.journal-btns{
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  .grey-btn{
    margin-top: 0;
    height: 35px;
    width: fit-content;
  }
  .build-export__dropdown{
    bottom: 50px;
    top: unset;
  }
}

.next-table{
  grid-template-columns: 0.05fr 1fr 1.3fr 0.9fr 0.5fr 0.9fr 0.7fr 0.8fr 1.1fr repeat(2, 1fr) 1.2fr 0.2fr;
  gap: 30px;
  width: 100%;
}

.split{
  &-table{
    display: flex;
    gap: 7px;
  }
  &-btn{
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #E7E7E9;
    padding: 10px 8px 10px 10px;
    width: 60px;
    height: 40px;
    transition: all 0.3s;
    &:hover, &_preactive{
      background-color: #DEE8FF;
      color: $blue
    }
    &_active{
      background-color: $blue;
      color: #fff;
    }
  }
}

/*  == TRANSFER ==  */ 

.transfer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  font-size: 14px;
  padding-bottom: 55px;
  position: relative;
  &-title{
    height: 40px;
    background: rgba(255, 152, 0, 0.45);
    border-radius: 4px;
    @extend %center;
    color: #41424D;
  }
  &__item{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    &:first-child{
      height: fit-content;
    }
  }
  &-box{
    display: grid;
    grid-template-columns: 0.7fr 1fr 0.12fr;
    gap: 8px;
    height: 40px;
  }
  &-input{
    background: #F6F6F6;
    padding: 12px 16px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
  }
  &-label{
    padding: 12px 24px;
    background-color: #fff;
    background: rgba(255, 193, 7, 0.35);
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #41424D;
  }
  &-btn{
    background: $blue;
    border-radius: 4px;
    transition: all 0.3s;
    border: none;
    @extend %center;
    height: 40px;
    align-self: center;
    &:hover{
      opacity: 0.8;
    }
  }
  &-info{
    background-color: #fff;
    padding: 36px 32px;
    border-radius: 15px;
    display: grid;
    color: #41424D;grid-template-columns: 1fr;
    gap: 25px;
    &_huge{
      padding: 36px 32px 125px;
    }
   
  }

  &-info__item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  &-infos{
    display: flex;
    gap: 16px;
    span{
      position: relative;
      &::after{
        content: '/';
        position: absolute;
        right: -10px;
      }
      &:last-child::after{
        display: none;
      }
    }
  }

  &-search{
    border-radius: 15px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    padding: 24px 16px;
    gap: 16px;
    &_plus{
      display: grid;
      grid-template-columns: 1fr 0.3fr 1fr 0.17fr;
      gap: 8px;
    }
    &_mini{
      display: grid;
      grid-template-columns: 0.65fr 1fr;
      gap: 8px;
    }
    label{
      padding: 10px;
      @extend %center;
    }
  }
  &-submit{
    background: #4CAF50;
    border-radius: 4px;
    color: #fff;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px 24px;
    &:hover{
      opacity: 0.7;
    }
  }
  
}

.split-slider{
  width: 100%;
  .split-btn{
    font-size: 11px;
    width: 105px;
    padding: 10px 5px;
  }
}

.allGroup-table{
  display: grid;
  grid-template-columns: 0.05fr 0.5fr 0.7fr repeat(2, 0.5fr) 0.6fr 0.5fr 0.7fr 0.8fr 0.7fr 0.6fr 0.2fr;
  width: 100%;
}

.transferJournal{
  padding: 0!important;
  border: none;
  display: grid;
  grid-template-columns: 630px 580px auto;
  color: #fff;
  &-head{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #fff;
    padding: 20px 0;
  }

  &-top{
    padding: 20px 32px;
    display: grid;
    grid-template-columns:  30px 190px 120px 120px 90px;
    gap: 20px;
    align-items: center;
    font-size: 14px;
    &_yellow{
      background-color: #E9C649;
      border-radius: 14px 0px 0px 14px;
      border-right: 1px solid #fff;
    }
    &_red{
      background-color: #E19A7E;
    }
    &_green{
      background-color: #6FC394;
      border-radius: 0px 15px 15px 0px;
      border-left: 1px solid #fff;
    }
  }

  &-top_split{
    display: grid;
    grid-template-columns: 1fr!important;
    padding: 0!important;
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }

  &-content{
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-self: start;
    &_1{
      grid-template-columns: 150px 110px 100px 130px;
    }
    &_2{
      grid-template-columns: 120px 100px 90px 190px 30px;
    }
    
  }
}

.transferJournal-table{
  width: fit-content;
  display: grid;
  gap: 20px;
  grid-template-columns: 30px 190px 120px 120px 90px 150px 110px 100px 130px 120px 100px 90px 190px 30px;
}

/* == BUILDING JOURNAL == */
.buildingJournal{
  background-color: #fff;
  border-radius: 15px;
  padding: 26px;
} 

.buildingJournal-head{
  background-color: #6FC394;
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
}



.buildingJournal-head,
.buildingJournal-redhead{
  display: grid;
  height: 45px;
  color: #fff;
  &__item{
    @extend %center;
    border-right: 1px solid #E2E3E3;
    border-bottom: 1px solid #E2E3E3;
    &:last-child{
      border-right: 0;
    }
    
  }
}

.buildingJournal-redhead{
  background-color: #e19a7e;
  display: grid;
  grid-template-columns: 0.1fr 0.6fr 1fr 1fr 1fr;
}

.buildingJournal-whitehead{
  background: rgba(225, 237, 252, 0.5);
  color: #000;
  height: 50px;
}

.buildingJournal{
  &-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr );
    font-size: 12px;
  }
  &-box{
    border-right: 1px solid #E2E3E3;
    height: 100%;
    @extend %center;
    flex-direction: column;
    &:last-child{
      border-right: 0;
    }
    h6{
      font-weight: bold;
      margin-bottom: 3px;
    }
    &_orange{
      background: rgba(251, 204, 135, 0.45);
    }
  }

  &_blank{
    background-color: #fff;
  }

  &-redhead_name{
    flex-direction: column
  }
  &_double{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  &-red{
    background-color: #e19a7e;
    height: 100%;
    @extend %center;
  }
}

.buildingJournal_teacher{
  .buildingJournal-box{
    background-color: #fff;
  }
  .buildingJournal-box_fill{
    background: #F0F6FD ;
  }
  .buildingJournal-box_orange{
    background: rgba(251, 204, 135, 0.45);
  }
  .buildingJournal-greenhead{
    background-color: #6FC394;
    height: 100px;
  }
}

/* == SEARCH-ID == */ 

.search-id{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 17px;
  }
  &__wrapper{
    background-color: #fff;
    display: inline-block;
    padding: 38px 56px;
    border: 1px solid #E9E9E9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    border: 1px solid $blue;
  }
  &__img{
    height: 660px;
    width: 600px;
    object-fit: cover;
    display: block;
    margin: auto;
  }
  input{
    margin: 0;
    margin-right: 31px;
    width: 320px;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-size: 17px;
    padding: 15px 17px 15px 40px;
    background-position: left 16px center;
  }
  label{
    padding-right: 68px;
    width: 100%;
  }
  button{
    height: 100%;
    padding: 15px 40px;    
  }
}

.modal-searchId{
  position: unset;
  visibility: visible;
  opacity: 1;
  background: unset;
  height: fit-content;
  margin-top: 52px;
  overflow: visible;
  .view__item{
    gap: 45px;
    span{
      width: 100%;
    }
  }

  .view-box{
    height: fit-content;
  }

  .modal-wrapper{
    width: 90%;
    overflow: visible;
  }

}

.input-center{
  padding-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  .input-btn{
    margin: 0;
  }

  .build-export{
    position: absolute;
    left: 0;
  }
}

.view-boxes{
  display: flex;
  align-items: center;
  gap: 33px;
}

.view-mini{
  font-size: 12px;
}

.view-whole{
  grid-template-columns: 1fr;
  &_white{
    background-color: #fff;
  }
}

.view-input{
  background: #F6F6F6;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 8px 17px;
  width: 111px;
}

.view-box{
  &_line{
    grid-template-columns: auto 1fr;
    gap: 195px;
  }
  &_none{
    display: flex;
    .view-title{
      width: fit-content;
    }

    .view-input{
      margin: 0 50px;
      position: absolute;
      left: 190px;
    }
  }

  &_discount{
    grid-template-columns: auto 1fr;
    background-color: #fff;
    gap: 75px;
  }
}

.view_discount{
  gap: 25px;
  .view__item{
    align-items: center;
  }
}
.view-info{
  &_line{
    display: flex;
    justify-content: space-between;
    gap: 95px;
    width: 100%;
  }
  &__item{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    text-align: center;
  }
  &__data{
    font-size: 12px;
  }
  &_normal{
    display: flex;
    justify-content: space-between;
    margin-left: 215px;
    gap: 80px
  }
  &_discount{
    gap: 20px;
   
  }
}

.btn-switch{
  padding: 9px 20px;
  border-radius: 8px;
  border: none;
  margin: 0 10px;
  background-color: #fff;
  &_blue{
    background: $blue;
    color: #fff;
  }
}

/* == KASSA == */ 

.kassa{
  a{
    color: #3B9AFD;
    &:hover{
      text-decoration: underline;
    }
  }
  &-wrapper{
    background-color: #FEFEFE;
    padding: 39px 24px;
    border-radius: 15px;
    width: fit-content;
    .journal-right{
      margin-bottom: 32px;
      align-items: center;
      justify-content: flex-end;
      .journal-date{
        margin-bottom: 0;
      }
    }
  }
  &-journal{
    a{
      color: #3B9AFD;
      &:hover{
        text-decoration: underline;
      }
    }
    display: grid;
    // deposit
    height: 50px;
    &_deposit{
      grid-template-columns: 60px 300px repeat(7, 130px) 150px 120px 150px 100px repeat(4, 120px);
    }

    // debt
    &_debt{
      grid-template-columns: 0.3fr 1.5fr repeat(9, 0.7fr);
    }

    // debt
    &_money{
      grid-template-columns: 60px 300px repeat(8, 150px) 500px;
    }

    // student
    &_student{
      grid-template-columns: 0.3fr 1.5fr repeat(10, 0.7fr);
    }

    // employee
    &_employee{
      grid-template-columns: 50px 300px repeat(12, 140px);
    }

    &_rank{
      grid-template-columns: 50px 300px repeat(8, 190px);
    }

    &_overall{
      grid-template-columns: 50px 1fr repeat(5, 190px);
    }
    &_rankPlus{
      grid-template-columns: 50px 300px repeat(9, 190px);
    }
    &_overallPlus{
      grid-template-columns: 50px 1fr repeat(7, 190px);
    }
   

  }
  &__item{
    border: 1px solid #E2E3E3;
    border-collapse: collapse;
    display: grid;
    place-items: center;
    padding: 0 10px;
    text-align: center;
    height: inherit;

    &_orange{
      background-color: #fffce3;
    }

    &_yellow{
      background-color: #FFF490;
    }

    &_red{
      background-color: #FFA8A7;
    }
  }

  &-head{
    height: 115px!important;
  }

  &__bottom{
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .input-buttons{
      display: block;
    }

    &-item{
      display: flex;
      gap: 24px;
      &:last-of-type{
        justify-content: flex-end;
      }
    }

    .grey-btn{
      max-width: fit-content;
    }
  } 

  &-bottom{
    margin: 32px 0 20px;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: flex-end;
    .grey-btn{
      margin-top: 0;
    }
  }

  &-boxes{
    padding: 0;
    &__inner{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 100%;
    }
    &__title{
      display: flex;
      align-items: center;
      height: 50px;
    }
    &__item{
      border-right: 1px solid #E2E3E3;
      border-top: 1px solid #E2E3E3;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    
   
  }
  &__item-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    height: 100%;
    width: 100%;
 }

 &__item-box{
    border-right: 1px solid #E2E3E3;
    display: grid;
    place-items: center;
    border-collapse: collapse;
    &:last-child{
     border-right: none;
    }
 }

 &__item_container{
   padding: 0;
 }

}

.subject-box{
  &_two{
    grid-template-columns: repeat(2, 1fr);
  }
  &_three{
    grid-template-columns: repeat(3, 1fr);
  }
}

.page-title_dark{
  padding: 16px 0;
  color: #000;
}

.deposit-table{
  display: grid;
  grid-template-columns: 50px 1.2fr 0.8fr 0.8fr 0.8fr 1.5fr repeat(2,1fr) 0.7fr 30px;
  &_plus{
    grid-template-columns: 50px 1.4fr 0.8fr 0.7fr 0.8fr 0.7fr 0.5fr 1.5fr 1.2fr 0.7fr  0.7fr 30px;
  }
  &__inner{
    text-align: center;
    span{
      margin-bottom: 15px;
      display: block;
    }
  }
  &_wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

.view-box{
  &_label{
    display: grid;
    grid-template-columns: 1fr;
  }
}

.view-modal{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  input,select{
    width: 100%;
  }
  .view-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    &:nth-child(odd){
      background-color: #fff;
    }
  }

  &__item_empty{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .btn-switch{
    padding: 9px 10px;
    font-size: 14px;
    margin: 0;
  }

  .modal__item{
    position: relative;
    display: grid;
    align-items: center;
    .add-link{
      bottom: -25px;
    }
    label{
      align-self: end;
      margin-bottom: 10px;
    }
  }

  .view-info{
    display: grid;
    grid-template-columns: repeat(2,1fr );
    border-radius: 8px;
    margin-top: 10px;
    height: 45px;
    &_bg{
      background-color: #fff;
    }
  }


}

.modal__item_double{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.view-info{
  align-items: center;
}

.cards-box, 
.config-box{
  max-width: unset;
}

.build-table--light .build-table__item--7{
  background-size: 80% 100%;
  background-position: center right 0;
}

.build-search_teacher{
  width: fit-content;
}

.modal_full{
  width: 100%!important;
}

.modal-window{
  background-color: #FEFEFE;
  padding: 40px 32px;
  border-radius: 8px;
  &_active{
    visibility: hidden;
    opacity: 0;
  }
  &__cover{
    background-color: rgba(#000, 0.5);
    z-index: 999;
    height: 100%;
    width: 100%;
    position: fixed;
    display: grid;
    place-items: center;
    transition: all 0.3s;
  }
  &__inner{
    background: #F2F3F5;
    border-radius: 8px;
    border: 1px solid #429FFE;
    padding: 52px 48px 32px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
  &__title{
    background: #429FFE;
    border-radius: 8px;
    color: #fff;
    padding: 13px 16px;
    position: absolute;
    top: -20px;
    left: 30px;
  }
  &__item{
    gap: 24px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    &_box{
      display: flex;
    }
  }
  input{
    height: 48px;
    width: 400px;
  }
  input, textarea{
    background: #FFFFFF;
    border-radius: 4px;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    padding: 15px;
  }

  textarea{
    height: 140px;
    resize: none
  }
  &__label{
    color: #323232;
    font-weight: bold;
  }
}

.input-buttons{
  a, button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.view-box_flex{
  display: flex;
  justify-content: space-between;
}

.modal-allwhite{
  .view__item:nth-child(even) .view-box{
    background-color: #fff;
  }

  .view-box{
    height: 100%;
  }
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.kassa-save{
  margin-top: 24px;
  background: #FEFEFE;
  border-radius: 15px;
  padding: 24px 24px 100px;
}

.kassa-save{
  .input-btn{
    float: right;
  }
  &__table{
    display: grid;
    grid-template-columns: 3fr 1.3fr 2fr 1.5fr 0.7fr 0.7fr;
    border-right: 1px solid #E2E3E3;
    border-collapse: collapse;

  }
  &__item{
    padding: 18px 20px;
    border: 1px solid #E2E3E3;
    border-collapse: collapse;
    line-height: 120%;
  }
  &__box{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    padding: 0;
  }

  &__boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-align: left;
  }

  &__boxes{
    border-right: 1px solid #E2E3E3;
    &:last-child{
      border-right: none;
    }
  }

  &__empty{
    border: none;
    grid-column-start: 2;
  }

  &__stats{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    padding: 0 20px;
  }

  &__stat{
    border-right: 1px solid #E2E3E3;
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child{
      border-right: none
    }
  }

  &__span{
    grid-column-start: span 1;
  }
}

.span-2{
  grid-column-start: span 2;
}

.btn-edit {
  .modalBtn{
    background-color: #fff;
    display: flex;
    color: $blue;
  }
}

.input-buttons_three{
  .grey-btn{
    width: fit-content;
  }

  .input-buttons__item{
    display: flex;
  }
}

.kassa__bottom{
  .grey-btn{
    margin-top: 0;
  }


}


@import 'media';